@page "/SignUp"
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject IUserService UserService
@using System.Security.Claims
@inject IJSRuntime jsRunTime

<style>
    label {
        font-weight: bold;
        text-align: left;
    }
    .arr {
        font-family: 'Zen Dots', cursive;
        color: red;
        font-size: 45px;
        font-weight: bold;
        text-align: center;
    }
</style>

<EditForm Model="@user" OnValidSubmit="@SignIn">
    <div>
        <h3 class="arr mb-3">ADS Rent-Car</h3>
    </div>

    <form>
        <div class="">
            <div class="form-group">
                <label>Nombre De Usuario</label>
                <input type="text" class="form-control ml-4" @bind-value="@user.Username" placeholder="Username"/>
            </div>
        </div>
        <div class="">
            <div class="form-group">
                <label>Correo Electrónico</label>
                <input type="email" class="form-control ml-4" @bind-value="@user.Email" placeholder="Someone@example.com"/>
            </div>
        </div>
        <div class="form-group">
            <label>Contraseña</label>
            <input type="password" class="form-control ml-4" @bind-value="@user.Password" placeholder="Password"/>
        </div>
        <div colspan="2">
            <button class="btn btn-success mb-4 mr-3 mt-2" type="submit">Registrarse</button>
            <a href="/" class="btn btn-primary mb-4 mt-2">Ir A Login</a>
        </div>
    </form>
</EditForm>

@code {

    private User user = new User();


    protected async Task SignIn()
    {
        await UserService.SaveUser(user);
        NavigationManager.NavigateTo("/");
    }

    protected void Cancel()
    {
        NavigationManager.NavigateTo("/");
    }

    

}
