@page "/AddBooking"
@page "/AddBooking/{id:int}"
@inject IBookingService BookingService
@inject IInvoiceService InvoiceService
@inject IVehicleService VehicleService
@inject IClientService ClientService
@inject NavigationManager NavigationManager

<style>
        label {
            font-weight: bold;
        }
</style>

<EditForm Model="@booking">
    <h2>Agregar Reserva</h2>
    <div class="row mb-4">
        <div class="col">
            <div class="form-outline">
                <label class="form-label">ID Del Cliente</label>
                <input type="text" class="form-control" @bind-value="@client.ClientId" />
            </div>
        </div>
        <div class="col">
            <div class="form-outline">
                <label class="form-label">ID Del Vehículo</label>
                <input type="text" class="form-control" @bind-value="@booking.VehicleId" />
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <div class="form-outline">
                <label class="form-label">Fecha De Inicio</label>
                <input type="date" class="form-control" @bind-value="@booking.StartDate" />
            </div>
        </div>
        <div class="col">
            <div class="form-outline">
                <label class="form-label">Fecha De Entrega</label>
                <input type="date" class="form-control" @bind-value="@booking.EndDate" />
            </div>
        </div>
    </div>
    <div colspan="2" style="text-align:center;">
        <button class="btn btn-primary mb-4" @onclick="GenerateInvoice">Guardar</button>
        <button class="btn btn-danger mb-4" @onclick="Cancel">Cancelar</button>
    </div>
</EditForm>
<hr />

<EditForm Model="@booking">
    <h2>Factura</h2>
    <div class="row mb-4">
        <div class="col">
            <div class="form-outline">
                <label class="form-label">ID De Reserva</label>
                <input type="text" class="form-control" @bind-value="@invoice.BookingId" />
            </div>
        </div>
        <div class="col">
            <div class="form-outline">
                <label class="form-label">Monto A Pagar</label>
                <input type="text" class="form-control" @bind-value="@invoice.Amount" />
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <div class="form-outline">
                <label class="form-label">Monto Pagado</label>
                <input type="text" class="form-control" @bind-value="@invoice.AmountPaid" />
            </div>
        </div>
    </div>
    <div colspan="2" style="text-align:center;">
        <button class="btn btn-primary mb-4" @onclick="SAVECHANGES">Guardar</button>
        <button class="btn btn-danger mb-4" @onclick="Cancel">Cancelar</button>
    </div>
</EditForm>

@code {
    [Parameter]
    public int id { get; set; }
    private Booking booking = new Booking();
    private Invoice invoice = new Invoice();
    private Vehicle vehicle = new Vehicle();
    private Client client = new Client();
    public int days { get; set; }
    public double amount { get; set; }
    public int ID { get; set; }
    protected override async Task OnInitializedAsync()
    {
        if (id != 0)
        {
            client = await ClientService.GetClientDetails(id);
        }
    }
    protected async Task GenerateInvoice()
    {

        await BookingService.SaveBooking(booking);


        DateTime startdate = booking.StartDate;
        DateTime enddate = booking.EndDate;

        TimeSpan tspan = enddate - startdate;
        days = tspan.Days;
        ID = booking.VehicleId;
        vehicle = await VehicleService.GetVehicleDetails(ID);

        invoice.BookingId = booking.BookingId;
        invoice.Amount = vehicle.Price * days;

        await BookingService.SaveBooking(booking);
    }
    protected async Task SAVECHANGES()
    {


        await InvoiceService.SaveInvoice(invoice);
    }

    protected void Cancel()
    {
        NavigationManager.NavigateTo("/ShowBookings");
    }
}
