@page "/AddClient"
@page "/AddClient/{id:int}"
@inject IClientService ClientService
@inject NavigationManager NavigationManager

<style>
        label {
            font-weight: bold;
        }
</style>

<EditForm Model="@client">
    <div class="row mb-4">
        <div class="col">
            <div class="form-outline">
                <label class="form-label">Cédula</label>
                <input type="text" class="form-control" @bind-value="@client.Cedula" />
            </div>
        </div>
        <div class="col">
            <div class="form-outline">
                <label class="form-label">Nombre</label>
                <input type="text" class="form-control" @bind-value="@client.Name" />
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <div class="form-outline">
                <label class="form-label">Apellido</label>
                <input type="text" class="form-control" @bind-value="@client.LastName" />
            </div>
        </div>
        <div class="col">
            <div class="form-outline">
                <label class="form-label">Correo Electrónico</label>
                <input type="email" class="form-control" @bind-value="@client.Email" placeholder="someone@example.com" />
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <div class="form-outline">
                <label class="form-label">Nacionalidad</label>
                <input type="text" class="form-control" @bind-value="@client.Nacionality" />
            </div>
        </div>
        <div class="col">
            <div class="form-outline">
                <label class="form-label">Tipo De Sangre</label>
                <input type="text" class="form-control" @bind-value="@client.BloodType" />
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <div class="form-outline">
                <label class="form-label">Foto</label>
                <input type="text" class="form-control" @bind-value="@client.CedulaImage" readonly />
            </div>
        </div>
    </div>
    <div colspan="2" style="text-align:center;">
        <button class="btn btn-success mb-4" @onclick="ValidarCedula">Validar Cédula</button>
        <button class="btn btn-primary mb-4" @onclick="ADDCLIENT">Guardar</button>
        <button class="btn btn-danger mb-4" @onclick="Cancel">Cancelar</button>
    </div>
</EditForm>


@code {

    [Parameter]
    public int id { get; set; }
    private Client client = new Client();
    public string message { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (id != 0)
        {
            client = await ClientService.GetClientDetails(id);
        }
    }

    protected void ValidarCedula()
    {
        try
        {
            WebClient webcli = new WebClient();
            var api = "https://api.adamix.net/apec/cedula/" + client.Cedula;
            var datos = webcli.DownloadString(api);

            var resultados = JsonConvert.DeserializeObject<Root>(datos);

            if (client.Cedula == resultados.Cedula)
            {
                client.Name = resultados.Nombres;
                client.LastName = resultados.Apellido1 + " " + resultados.Apellido2;
                client.CedulaImage = resultados.foto;
                client.DriverLicenseImage = resultados.foto;
                client.DriverLicense = resultados.Cedula;

            }
        }
        catch(Exception e)
        {
            message = e.Message;
        }
    }

    protected async Task ADDCLIENT()
    {
        await ClientService.SaveClient(client);
        NavigationManager.NavigateTo("/ShowClient");
    }
    protected void Cancel()
    {
        NavigationManager.NavigateTo("/ShowClient");
    }
}
