@page "/DeleteBooking/{id:int}"
@inject IBookingService BookingService
@inject NavigationManager NavigationManager

<style>
    p {
        font-size: 25px;
        font-weight: bold;
        text-transform: capitalize;
    }

    label {
        font-weight: bold;
    }
</style>
<p style="color:red; text-align:center">¿Seguro que quieres eliminar esta reserva?</p>


<EditForm Model="@booking">
    <fieldset disabled="disabled">
        <div class="row mb-4">
            <div class="col">
                <div class="form-outline">
                    <label class="form-label">ID Del Cliente</label>
                    <input type="text" class="form-control" @bind-value="@booking.ClientId" />
                </div>
            </div>
            <div class="col">
                <div class="form-outline">
                    <label class="form-label">ID Del Vehículo</label>
                    <input type="text" class="form-control" @bind-value="@booking.VehicleId" />
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col">
                <div class="form-outline">
                    <label class="form-label">Fecha De Inicio</label>
                    <input type="date" class="form-control" @bind-value="@booking.StartDate" />
                </div>
            </div>
            <div class="col">
                <div class="form-outline">
                    <label class="form-label">Fecha De Entrega</label>
                    <input type="date" class="form-control" @bind-value="@booking.EndDate" />
                </div>
            </div>
        </div>
    </fieldset>
    <div colspan="2" style="text-align:center;">
        <button class="btn btn-primary mb-4" @onclick="DELETEBOOKING">Guardar</button>
        <button class="btn btn-danger mb-4" @onclick="Cancel">Cancelar</button>
    </div>
</EditForm>


@code {
    [Parameter]
    public int id { get; set; }

    private Booking booking = new Booking();

    protected override async Task OnInitializedAsync()
    {
        booking = await BookingService.GetBookingDetails(id);
    }

    protected async Task DELETEBOOKING()
    {
        await BookingService.DeleteBooking(id);
        NavigationManager.NavigateTo("/ShowBookings");
    }

    protected void Cancel()
    {
        NavigationManager.NavigateTo("/ShowBookings");
    }
}
