@page "/DeleteVehicle/{id:int}"
@inject IVehicleService VehicleService
@inject NavigationManager NavigationManager
<h3>Eliminar Vehiculo</h3>
<p style="color:red; text-align:center">Seguro que quieres Eliminar Este Vehiculo?</p>
<EditForm Model="@vehicle">
    <table class="table">

        <tr>
            <td>Marca: </td>
            <td><input type="text" class="form-control col-sm-4" @bind-value="@vehicle.Brand" /> </td>
        </tr>
        <tr>
            <td>Modelo: </td>
            <td><input type="text" class="form-control col-sm-4" @bind-value="@vehicle.Model" /> </td>
        </tr>
        <tr>
            <td>Año: </td>
            <td><input type="text" class="form-control col-sm-4" @bind-value="@vehicle.Year" /> </td>
        </tr>
        <tr>
            <td>Color: </td>
            <td><input type="text" class="form-control col-sm-4" @bind-value="@vehicle.Color" /> </td>
        </tr>
        <tr>
            <td>Precio x Dia: </td>
            <td><input type="text" class="form-control col-sm-4" @bind-value="@vehicle.Price" /> </td>
        </tr>
        <tr>
            <td>Tipo: </td>
            <td><input type="text" class="form-control col-sm-4" @bind-value="@vehicle.Kind" /> </td>
        </tr>
        <tr>
            <td>Capacidad De Carga: </td>
            <td><input type="text" class="form-control col-sm-4" @bind-value="@vehicle.ChargeCapacity" /> </td>
        </tr>
        <tr>
            <td>Pasajeros: </td>
            <td><input type="text" class="form-control col-sm-4" @bind-value="@vehicle.PassengersNumber" /> </td>
        </tr>
        <tr>
            <td>Matricula: </td>
            <td><input type="text" class="form-control col-sm-4" @bind-value="@vehicle.Enrollment" /> </td>
        </tr>
        <tr>
            <td>No. Seguro: </td>
            <td><input type="text" class="form-control col-sm-4" @bind-value="@vehicle.SecureNumber" /> </td>
        </tr>
        <tr>
            <td>Foto: </td>
            <td><input type="text" class="form-control col-sm-4" @bind-value="@vehicle.Image" /> </td>
        </tr>
        <tr>
            <td>Latitud: </td>
            <td><input type="text" class="form-control col-sm-4" @bind-value="@vehicle.Latitude" /> </td>
        </tr>
        <tr>
            <td>Longitud: </td>
            <td><input type="text" class="form-control col-sm-4" @bind-value="@vehicle.Length" /> </td>
        </tr>


        <tr>
            <td colspan="2" style="text-align:center">
                <button class="btn btn-danger btn-sm" @onclick="DELETEVEHICLE">Eliminar</button>
                <button class="btn btn-info btn-sm" @onclick="Cancel">Cancelar</button>
            </td>

        </tr>
    </table>
</EditForm>
@code {
    [Parameter]
    public int id { get; set; }

    private Vehicle vehicle = new Vehicle();

    protected override async Task OnInitializedAsync()
    {
        vehicle = await VehicleService.GetVehicleDetails(id);
    }

    protected async Task DELETEVEHICLE()
    {
        await VehicleService.DeleteVehicle(id);
        NavigationManager.NavigateTo("/ShowVehicles");
    }

    protected void Cancel()
    {
        NavigationManager.NavigateTo("/ShowVehicles");
    }
}
