@page "/DeleteVehicle/{id:int}"
@inject IVehicleService VehicleService
@inject NavigationManager NavigationManager
@inject IJSRuntime JS

<style>
    p{
        font-size:25px;
        font-weight:bold;
        text-transform: capitalize;
    }
    label{
        font-weight: bold;
    }
</style>
<p style="color:red; text-align:center">¿Seguro que quieres eliminar este vehículo?</p>

<EditForm Model="@vehicle">
    <fieldset disabled="disabled">
        <div class="row mb-4">
            <div class="col">
                <div class="form-outline">
                    <label class="form-label">Marca</label>
                    <input type="text" class="form-control" @bind-value="@vehicle.Brand" />
                </div>
            </div>
            <div class="col">
                <div class="form-outline">
                    <label class="form-label">Modelo</label>
                    <input type="text" class="form-control" @bind-value="@vehicle.Model" />
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col">
                <div class="form-outline">
                    <label class="form-label">Año</label>
                    <input type="text" class="form-control" @bind-value="@vehicle.Year" />
                </div>
            </div>
            <div class="col">
                <div class="form-outline">
                    <label class="form-label">Color</label>
                    <input type="text" class="form-control" @bind-value="@vehicle.Color" />
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col">
                <div class="form-outline">
                    <label class="form-label">Precio x Día</label>
                    <input type="text" class="form-control" @bind-value="@vehicle.Price" />
                </div>
            </div>
            <div class="col">
                <div class="form-outline">
                    <label class="form-label">Tipo</label>
                    <input type="text" class="form-control" @bind-value="@vehicle.Kind" />
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col">
                <div class="form-outline">
                    <label class="form-label">Capacidad De Carga</label>
                    <input type="text" class="form-control" @bind-value="@vehicle.ChargeCapacity" />
                </div>
            </div>
            <div class="col">
                <div class="form-outline">
                    <label class="form-label">Cantidad De Pasajeros</label>
                    <input type="text" class="form-control" @bind-value="@vehicle.PassengersNumber" />
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col">
                <div class="form-outline">
                    <label class="form-label">Matrícula</label>
                    <input type="text" class="form-control" @bind-value="@vehicle.Enrollment" />
                </div>
            </div>
            <div class="col">
                <div class="form-outline">
                    <label class="form-label">Número De Seguro</label>
                    <input type="text" class="form-control" @bind-value="@vehicle.SecureNumber" />
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col">
                <div class="form-outline">
                    <label class="form-label">Latitud</label>
                    <input type="text" class="form-control" @bind-value="@vehicle.Latitude" />
                </div>
            </div>
            <div class="col">
                <div class="form-outline">
                    <label class="form-label">Longitud</label>
                    <input type="text" class="form-control" @bind-value="@vehicle.Length" />
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col">
                <div class="form-outline">
                    <label class="form-label">Imagen</label>
                    <input type="text" class="form-control" @bind-value="@vehicle.Image" />
                </div>
            </div>
        </div>
    </fieldset>
    <div colspan="2" style="text-align:center;">
        <button class="btn btn-primary mb-4" @onclick="DELETEVEHICLE">Guardar</button>
        <button class="btn btn-danger mb-4" @onclick="Cancel">Cancelar</button>
    </div>
</EditForm>

@code {
    [Parameter]
    public int id { get; set; }

    private Vehicle vehicle = new Vehicle();

    protected override async Task OnInitializedAsync()
    {
        vehicle = await VehicleService.GetVehicleDetails(id);
    }

    protected async Task DELETEVEHICLE()
    {
        await VehicleService.DeleteVehicle(id);
        NavigationManager.NavigateTo("/ShowVehicles");
    }

    protected void Cancel()
    {
        NavigationManager.NavigateTo("/");
    }
}
