@page "/EditBooking/{id:int}"
@inject IBookingService BookingService
@inject NavigationManager NavigationManager

<style>
    label {
        font-weight: bold;
    }
</style>

<EditForm Model="@booking">
    <h2>Editar Reserva</h2>
    <div class="row mb-4">
        <div class="col">
            <div class="form-outline">
                <label class="form-label">ID Del Cliente</label>
                <input type="text" class="form-control" @bind-value="@booking.ClientId" />
            </div>
        </div>
        <div class="col">
            <div class="form-outline">
                <label class="form-label">ID Del Vehículo</label>
                <input type="text" class="form-control" @bind-value="@booking.VehicleId" />
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <div class="form-outline">
                <label class="form-label">Fecha De Inicio</label>
                <input type="date" class="form-control" @bind-value="@booking.StartDate" />
            </div>
        </div>
        <div class="col">
            <div class="form-outline">
                <label class="form-label">Fecha De Entrega</label>
                <input type="date" class="form-control" @bind-value="@booking.EndDate" />
            </div>
        </div>
    </div>
    <div colspan="2" style="text-align:center;">
        <button class="btn btn-primary mb-4" @onclick="SAVECHANGES">Guardar</button>
        <button class="btn btn-danger mb-4" @onclick="Cancel">Cancelar</button>
    </div>
</EditForm>

@code {
    [Parameter]
    public int id { get; set; }
    private Booking booking = new Booking();

    protected override async Task OnInitializedAsync()
    {
        if (id != 0)
        {
            booking = await BookingService.GetBookingDetails(id);
        }
    }
    protected async Task SAVECHANGES()
    {
        await BookingService.SaveBooking(booking);
        NavigationManager.NavigateTo("/ShowBookings");
    }

    protected void Cancel()
    {
        NavigationManager.NavigateTo("/ShowBookings");
    }
}
