@page "/ShowClient"
@inject IClientService ClientService
<h3>Clientes</h3>
@message

<style>
    th, td{
        text-align: center;
    }
    .btn-circle {
        width: 45px;
        height: 45px;
        line-height: 45px;
        text-align: center;
        padding: 0;
        border-radius: 50%;
    }
    .btn-circle-sm {
        width: 35px;
        height: 35px;
        line-height: 35px;
        font-size: 0.9rem;
    }
    .btn-circle-xl {
        width: 70px;
        height: 70px;
        line-height: 70px;
        font-size: 1.3rem;
        position: fixed;
        bottom: 40px;
        right: 15px;
    }
    .btn-circle i {
        position: relative;
        top: -1px;
    }
    .tamano {
        font-size: 30px;
    }
</style>

<div>
    <a href="/AddClient" class="btn btn-danger btn-circle btn-circle-xl">
        <i class="fas fa-plus-circle tamano"></i>
    </a>
</div>

@if (clients == null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Cédula</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Nacionalidad</th>
                <th>Tipo De Sangre</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var client in clients)
            {
                <tr>
                    <td>@client.Cedula</td>
                    <td>@client.Name</td>
                    <td>@client.LastName</td>
                    <td>@client.Email</td>
                    <td>@client.Nacionality</td>
                    <td>@client.BloodType</td>
                    <td>
                        <a href="/AddClient/@client.ClientId" class="btn btn-warning btn-circle btn-circle-sm m-1">
                            <i class="fas fa-edit"></i></a>
                        <a href="/DeleteClient/@client.ClientId" class="btn btn-danger btn-circle btn-circle-sm m-1">
                            <i class="fas fa-trash"></i></a>
                        <a href="/AddBooking/@client.ClientId" class="btn btn-primary btn-circle btn-circle-sm m-1">
                            <i class="fas fa-bookmark"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    public IEnumerable<Client> clients { get; set; }

    public string message { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            clients = await ClientService.GetAllClient();
        }
        catch (Exception e)
        {
            message = e.Message;
        }
    }

}
